---
import Layout from '@src/layouts/Layout.astro';
import SectionPage from '@components/SectionPage.astro';
---

<Layout  title="特定商取引法に基づく表記 | ハマ塾">
  <SectionPage
    title="特定商取引法に基づく表記"
    updateDate=""
    content={`
            <h2>提供するサービスの名称</h2>
            <h3>ハマ塾</h3>
            
            <h2>販売事業者名</h2>
            <h3>Aeru.me株式会社</h3>

            <h2>責任者名</h2>
            <p>浜田篤</p>

            <h2>所在地</h2>
            <p>東京都新宿区新宿6-20-5-902</p>

            <h2>問い合わせ先</h2>
            <p><a href="/contact"><u>こちらのフォーム</u></a>よりお問い合わせください。連絡用メールアドレスで返信いたします。</p>

            <h2>販売価格</h2>
            <p>商品詳細ページで説明</p>

            <h2>支払方法</h2>
            <p>銀行振込（住信SBIネット銀行）または PayPal</p>
            <p>※ 振込手数料が発生する場合は購入者負担となります</p>

            <h2>商品の提供時期</h2>
            <p>お支払い手続き完了確認後、即座に提供開始</p>

            <h2>販売価格以外で必要となる料金</h2>
            <p>インターネット接続料金、通信料金等の諸費用は購入者自身でご負担ください。</p>

            <h2>返品・キャンセル</h2>
            <p>購入30日以内、かつ受講率30%未満の場合は全額返金対象となります。（但し振り込み手数料のみ購入者負担。）従ってリスクなく第一歩を踏み出すことが可能ですが、万一購入したコースが合わない場合はお早めに返品リクエストをお願いいたします。</p>
        `}
  />
</Layout>