---
import FaqItem from './FaqItem.astro';

interface Faq {
  question: string;
  answer: string;
}

interface Props {
  title?: string;
  description?: string;
  faqs?: Faq[];
}

const { 
  title = 'よくある質問と答え', 
  description = 'ご不明点は遠慮なくお問い合わせください',
  faqs = [
    {
      question: 'Q. 免責事項について',
      answer: 'A. ハマ塾は投資・金融リテラシーの向上を目的とした動画教育教材を提供しています。日報フィードバック【ハマ塾フル版のみ】は、過去チャート分析に対する学習サポートであり、前述の動画教材と同様に、特定の金融商品の売買を推奨するものではありません。過去のチャート分析を通じて売買の根拠や判断手法を学ぶことを目的としています。そのため、ハマ塾が提供するすべてのサービスは、投資助言には該当しない教育教材となります。投資は自己責任の世界です。正しい知識と技術を身につけることで、目先の情報に振り回されにくくなります。ハマ塾を通じて根拠に基づいた売買判断を自ら行えるよう一緒に頑張りましょう。',
    },
    {
      question: 'Q. 30日間の返金保証について',
      answer: 'A. 購入30日以内かつ進捗30%未満に限り全額返金対象です。（但し、返金時の振込手数料は購入者負担になります。）',
    },
    {
      question: 'Q. わからないところは質問できますか？',
      answer: 'A. ハマ塾では質問を大歓迎しています。「こんなこと聞いていいのかな？」という内容でも大丈夫なので、いつでも気軽にご質問ください。',
    },
    {
      question: 'Q. 投資の心構えを教えてください',
      answer: 'A. 投資は例え同じ銘柄でもタイミング次第で利益にも損失にもなります。そういった背景から、実は銘柄選び以上に売買のタイミングや相場のリズムを掴む技術が重要になります。このことが腑に落ちれば、目先の情報を追い求めて一喜一憂することから解放されます。疑心暗鬼になったり、不安を煽るような情報に振り回されることもなくなります。',
    },
    {
      question: 'Q. ハマ塾の受講は初めてですが大丈夫ですか？',
      answer: 'A. 一般的なEラーニングサイトと同じ感覚でPC・スマホどちらでも視聴でき、進捗管理も自動で行えます。さらに、【ハマ塾フル版】は過去チャート分析動画が毎日チャット画面に届きます。日報＆フィードバックを繰り返すことで、自然とチャート分析が習慣化し、本当の実力が身についていきます。',
    },
  ]
} = Astro.props;
---

<section id="faq" class="relative bg-white/70 backdrop-blur-md py-16 md:py-20 overflow-hidden">
  <div class="lg:max-w-7xl mx-auto px-6">
    <div class="text-center mb-12">
      <h2 class="text-3xl md:text-4xl font-semibold text-black mb-2">{title}</h2>
      <p class="text-lg text-gray-600 max-w-2xl mx-auto mt-3">{description}</p>
    </div>
    <div class="max-w-4xl lg:px-10 mx-auto space-y-4">
      {faqs.map((faq) => (
        <FaqItem question={faq.question} answer={faq.answer} />
      ))}
    </div>
  </div>
</section>