---
import TableAbsolute from './TableAbsolute.astro';
import TableFixed from './TableFixed.astro';

interface Props {
  title: string;
  description: string;
  position?: 'absolute' | 'fixed';
}

const { title, description, position = "fixed" } = Astro.props;
---

<section
  id="heading-page"
  class="relative bg-gray-200 border-b border-black/10 pt-24 pb-8 flex flex-col items-center justify-center overflow-hidden"
>
  {position === 'fixed' ? (
    <TableFixed />
  ) : (
    <TableAbsolute />
  )}

  <div class="lg:max-w-7xl mx-auto px-6 relative text-center">
    <div class="relative max-w-3xl mx-auto py-12">
      <h1 class="text-4xl md:text-5xl font-semibold mb-3 text-black leading-tight md:leading-tight">
        {title}
      </h1>
      <p class="text-xl md:text-2xl text-gray-700 max-w-2xl mx-auto">
        {description}
      </p>
    </div>
  </div>
</section>