---
const { 
  description = '※ご不要な場合は、いつでも配信を停止できます。',
} = Astro.props;
---

<section id="mailing-list-form" class="relative bg-white pb-8 overflow-hidden">
  <!-- Mailing List Form -->
  <div class="ml-embedded" data-form="JdgU6z"></div>
  <p class="text-sm text-gray-600 max-w-2xl mx-auto text-center">{description}</p>

  <!-- MailerLite Universal Script -->
  <script is:inline>
    (function(w,d,e,u,f,l,n){
      w[f]=w[f]||function(){(w[f].q=w[f].q||[]).push(arguments);};
      l=d.createElement(e);
      l.async=1;
      l.src=u;
      n=d.getElementsByTagName(e)[0];
      n.parentNode.insertBefore(l,n);
    })(window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '258165');
  </script>
  <style is:global>
    .ml-form-embedSubmit button {
      height: 50px !important;
      border: 2px solid rgb(0 0 0 / 0.1) !important;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
    }
  </style>
</section>