---
import ServiceCard from './ServiceCard.astro';

export interface ServiceItem {
  title: string;
  description: string;
  href: string;
  iconSvg: string;
}

export interface ServicesSectionProps {
  title: string;
  services: ServiceItem[];
}

const servicesData: ServicesSectionProps = {
  title: 'Services',
  services: [
    {
      title: '① 基礎コースを学ぶ',
      description: 'TradingView入門、テクニカル分析入門など、移動平均線など、必要な基礎知識や基本操作を学ぶ',
      href:'/course',
      iconSvg:
        '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />',
    },
    {
      title: '② 投資マインドを育む',
      description: '投資は「運」でも「心を削って戦うもの」でもない。プロスペクト理論を理解し投資マインドを育む',
      href:'https://www.udemy.com/course/psychology-of-investing/?referralCode=6B1719F7438D24A3E907',
      iconSvg:
        '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />',
    },
    {
      title: '③ 実践の武器を手にいれる',
      description: 'ロット管理や期待値管理、指値、逆指値、トレーリングなどの実践スキルを【ハマ塾フル版】で学び、習得する',
      href:'',
      iconSvg:
        '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />',
    },
    {
      title: '④ 規律を整える【フル版のみ】',
      description: '日々の分析＋反省→日報→フィードバックで「習慣」を手に入れる (日報後に次の動画が届く仕組みで規律が整う)',
      href:'',
      iconSvg:
        '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />',
    },
    {
      title: '⑤ 喜びを分かち合う',
      description: '結果を出すための努力以上に、続けられる環境も大切。日々の成長や喜びを分かち合い、持続モチベーションを高める',
      href:'',
      iconSvg:
        '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />',
    },
  ],
};
---

<section id="services" class="relative bg-gray-100 py-8 md:py-20 overflow-hidden">
  <div class="lg:max-w-7xl mx-auto px-6 relative">
    <div class="flex flex-col lg:flex-row gap-8">
      <div class="w-full lg:w-20 flex items-center justify-center lg:justify-start lg:order-2">
        <h2 class="text-3xl md:text-4xl font-semibold text-black lg:text-[100px] lg:-translate-x-48 lg:text-gray-400 lg:uppercase transform lg:rotate-90 whitespace-nowrap">
          {servicesData.title}
        </h2>
      </div>
      <div class="lg:order-1 grow grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {servicesData.services.map((service) => (
          <ServiceCard service={service} />
        ))}
      </div>
    </div>
  </div>
</section>