---
export interface ServiceCardProps {
  title: string;
  description: string;
  href: string;
  slug: string;
  iconSvg: string;
}

interface ServiceCardData {
  service: ServiceCardProps;
}

const { service } = Astro.props as ServiceCardData;
const icon = 'M9 5l7 7-7 7';
---

<a href={service.href || service.slug}
  {...(!service.href ? { "data-scroll": "smooth" } : {})}
  >
  <div class={
    "rounded-3xl bg-white p-6 border border-black/10 " +
    (service.href
      ? "hover:bg-lime-100 transition-all transform hover:-translate-y-2 cursor-pointer"
      : "")
  }>
    <div class="w-12 h-12 mb-4 bg-lime-200 text-lime-800 rounded-full flex items-center justify-center shadow-sm">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        set:html={service.iconSvg}
      />
    </div>
    <h3 class="text-xl font-semibold text-black mb-2">{service.title}</h3>
    <p class="text-gray-600 mb-3">{service.description}</p>
      <div
        class="text-lime-600 hover:text-lime-500 font-semibold text-md transition-colors flex items-center gap-2">
        {service.href ?  '詳細はこちら' : 'フル版とは？'}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d={icon} />
        </svg>
      </div>
  </div>
</a>