---
interface Props {
  topGradientFrom?: string;
  topGradientTo?: string;
  bottomGradientFrom?: string;
  bottomGradientTo?: string;
}

const { 
  topGradientFrom = '#efce9f',
  topGradientTo = '#efd3ad',
  bottomGradientFrom = '#e0ab68',
  bottomGradientTo = '#e9bb7f',
} = Astro.props;
---

<div class="absolute bottom-0 inset-x-0 flex flex-col">
  <div class="relative w-full h-6" style={`background: linear-gradient(to bottom, ${topGradientFrom}, ${topGradientTo});`}>
    <!-- Object (Glasses) -->
    <div class="absolute top-1 right-32 transform rotate-0 transition-transform duration-300">
      <div class="flex items-center">
        <!-- Left Lens -->
        <div class="w-6 h-4 border-2 border-gray-800 rounded-full bg-blue-100 opacity-50"></div>
        <!-- Bridge -->
        <div class="w-2 h-0.5 bg-gray-800"></div>
        <!-- Right Lens -->
        <div class="w-6 h-4 border-2 border-gray-800 rounded-full bg-blue-100 opacity-50"></div>
      </div>
      <!-- Left Temple -->
      <div class="absolute left-0 top-1 w-8 h-0.5 bg-gray-800 transform -rotate-12"></div>
      <!-- Right Temple -->
      <div class="absolute right-0 top-1 w-8 h-0.5 bg-gray-800 transform rotate-12"></div>
    </div>
  </div>
  <div class="relative w-full h-4" style={`background: linear-gradient(to top, ${bottomGradientFrom}, ${bottomGradientTo});`}></div>
</div>