---
import '@src/styles/style.css';

// Import
import HeaderSection from '@components/HeaderSection.astro';
import OffcanvasMenu from '@components/OffcanvasMenu.astro';
import FooterSection from '@components/FooterSection.astro';

interface Props {
  title?: string;
}

// Define the title prop with a default value
const { title = "ハマ塾 | 規律ある投資スキルを習得" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" href="/img/favicon.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-200 font-sans">
    <HeaderSection />
    <OffcanvasMenu />
    <main>
      <slot />
    </main>
    <FooterSection />
  </body>
</html>